@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("/css/dark.css") screen and (prefers-color-scheme: dark);
@import url("/css/github.css") screen and (prefers-color-scheme: light);
:root {
  --bg-color: white;
  --highlight-color: #fffb00;
  --font-color: #000000;
  --inverted-font-color: var(--font-color);
  --link-color: #425469;
  --caption-color: #727375;
  --emph: #E61726;
  --code-color: var(--emph);
  --nav-color: var(--emph);
  --heading-font-color: #425469;
  --header: #000000;
  --award-color: #0CAC1C;
  --ponder-color: #d3a10b;
  --ponder-background-color: rgba(255, 235, 130, 0.2);
  --todo-color: rgb(148, 2, 206);
  --todo-background-color: rgba(237, 146, 134, 0.2);
  --readings-background-color: #bcf6bc;
  --readings-color: rgb(3, 76, 3);
  --note-color: rgb(0, 107, 161);
  --note-background-color: rgba(159, 213, 239, 0.2);
  --callout-background-color: rgba(243, 183, 183, 0.197);
  --table-alternate-bg-color: lightgrey;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #24272c;
    --highlight-color: var(--emph);
    --font-color: #EEEEEE;
    --inverted-font-color: #000000;
    --heading-font-color: #c6f1f3;
    --caption-color: #c9cacc;
    --emph: rgb(246, 168, 0);
    --code-color: var(--font-color);
    --nav-color: #8bcccf;
    --link-color: #eafafb;
    --header: #EEEEEE;
    --award-color: darkgreen;
    --todo-color: rgb(222, 156, 248);
    --todo-background-color: rgb(68, 44, 66, 0.7);
    --ponder-color: #f1ce68;
    --note-color: rgb(5, 155, 230);
    --note-background-color: rgb(7, 31, 56);
    --readings-background-color: #093102;
    --readings-color: #03f6e6;
    --callout-background-color: #679da031;
  }
}
body {
  background-color: var(--bg-color);
  min-width: 65%;
  color: var(--font-color);
  font-family: "Avenir", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 13pt;
}

strong {
  font-weight: bold;
}

h2,
h3,
h4,
.degree {
  font-weight: 700;
  color: var(--heading-font-color);
  font-family: "Mulish", sans-serif;
  margin: auto;
  padding-top: 5px;
}

h1 {
  color: var(--header);
  font-family: "Mulish", sans-serif;
}
h1 a,
h1 a:visited {
  text-decoration: none;
}

a,
a:visited {
  color: var(--link-color);
  text-decoration: underline;
  font-weight: 500;
}
a:not(:has(img)):hover,
a:visited:not(:has(img)):hover {
  color: var(--inverted-font-color);
  background-color: var(--highlight-color);
}

.hlt, .fn-tooltip, .footnotes :target, .tag, .banner {
  background-color: var(--highlight-color);
  color: var(--inverted-font-color);
}
.hlt a, .fn-tooltip a, .footnotes :target a, .tag a, .banner a {
  color: var(--inverted-font-color);
}

.blurb {
  margin-bottom: 20px;
  font-size: 1em;
  padding: 0 2em;
  max-width: 90%;
}

header {
  padding: 0px 15px;
  text-align: center;
  margin: 50px 0 0;
  height: min(40vh, 200px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header.pages {
  height: auto;
}
header img {
  border-radius: 360px;
  height: min(35vh, 150px);
  max-height: 200px;
  width: auto;
}
header h1 {
  margin-bottom: 2px;
  margin-left: 5px;
  margin-top: 0px;
}
header .info {
  margin-left: 40px;
}

main {
  padding: 15px;
  width: 80%;
  max-width: 60em;
  margin: auto;
}

article {
  margin: auto;
  max-width: 60em;
  font-size: 12pt;
  line-height: 1.5em;
  font-weight: 200;
  font-family: "Merriweather", serif;
}

/* Aside */
aside {
  background: var(--bg-color);
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid var(--emph);
  box-shadow: 0px 1px 1px RGBA(4, 25, 54, 0.1);
}
aside nav {
  display: flex;
  justify-content: center;
  font-size: 1em;
}
aside nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
aside nav ul li {
  float: left;
  position: relative;
}
aside nav ul li a.nav-link {
  text-decoration: none;
  color: var(--nav-color);
  display: block;
  padding: 15px;
  font-family: "Mulish", sans-serif;
  line-height: 20px;
  margin-bottom: -1px;
  box-shadow: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
aside nav ul li a.nav-link:hover, aside nav ul li a.nav-link.active {
  background: var(--header);
  text-decoration: none;
  color: var(--bg-color);
}
aside nav:after {
  content: "";
  display: table;
  clear: both;
}

.sub {
  font-size: 0.95em;
  margin-top: 0;
  margin-bottom: 5px;
}
.sub a {
  margin: 2px;
}

.emph {
  color: var(--emph);
}

.award {
  display: inline-block;
  background: var(--award-color);
  color: white;
  border-radius: 5px;
  padding: 0 3px;
  margin-left: 5px;
  font-weight: bold;
  font-size: 0.9em;
}

figure {
  margin: 25px auto;
  display: grid;
  justify-content: center;
  text-align: center;
}
figure figcaption {
  padding: 0;
  color: var(--caption-color);
  font-family: Avenir;
  text-align: center;
  margin-top: 2vw;
}
figure img {
  max-width: 85%;
}
figure.wide {
  overflow-x: visible;
  max-width: 120%;
}
figure.wide img {
  max-width: 120%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
figure.wrap {
  float: left;
}
figure.wrap img {
  max-width: 40vw;
}
figure.wrap figcaption {
  max-width: 20vw;
}
figure.wrap img, figure.wrap figcaption {
  margin-right: 5vw;
}

ul {
  list-style-type: circle;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.contact a, .contact a:visited {
  font-size: 1.5em !important;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 40px;
}
footer .address {
  font-size: 0.8em;
}

.fa, .fab, .far, .fas, .ai {
  margin: 5px;
  text-decoration: none;
}

.visible-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 0px;
}

.visible-hidden:focus {
  clip: auto;
  height: auto;
  overflow: auto;
  position: absolute;
  width: auto;
}

.artifact-list {
  margin-top: 0;
  margin-left: 30px;
  list-style-type: none;
}
.artifact-list li:not(:first-child) {
  margin-top: 5px;
}
.artifact-list .artifact {
  padding-bottom: 10px;
}
.artifact-list .authors {
  font-size: 0.85em;
  color: var(--emph);
}
.artifact-list details > summary {
  outline: none;
  margin-bottom: 5px;
}
.artifact-list details p {
  padding: 5px;
  border: 1px grey solid;
  border-radius: 5px;
  color: var(--font-color);
  list-style-type: none;
}
.artifact-list details p.abstract {
  font-size: 0.9em;
}

details > summary {
  cursor: pointer;
}

.banner {
  padding: 5px;
  border-radius: 5px;
  border: var(--emph) solid 2px;
}

.grey {
  opacity: 0.3;
}

code {
  font-family: "Roboto Mono", monospace;
  color: var(--code-color);
  font-weight: 450;
}
h1 > code, h2 > code, h3 > code {
  font-size: inherit;
}
a:hover > code {
  color: var(--inverted-font-color);
}

pre:not(.mermaid) {
  padding: 10px;
  border-radius: 5px;
  border: 1pt solid var(--heading-font-color);
  line-height: 1.5;
}

.tag {
  font-size: 0.8em;
  font-family: "Mulish", sans-serif;
  padding: 2px 5px;
  margin: 5px;
  border: 0.5pt solid var(--emph);
  border-radius: 8px;
  cursor: pointer;
}
.tag.active {
  background-color: var(--header);
}
.tag.active a {
  color: var(--highlight-color);
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  font-size: 0.9em;
  border-bottom: 2pt solid var(--font-color);
}
table th {
  border-top: 2pt solid var(--font-color);
  border-bottom: 2pt solid var(--font-color);
}
table tr {
  border-bottom: 0.5pt solid;
}
table tr > td, table tr > th {
  padding: 0.5em;
}
table tr > td:not(:last-child), table tr > th:not(:last-child) {
  border-right: 1pt solid;
}

.course {
  padding-top: 5px;
}

.released {
  font-weight: bold;
  background-color: green;
  color: white;
}
.released::before {
  content: "RELEASED";
}

.due {
  font-weight: bold;
  background-color: firebrick;
  color: white;
}
.due::before {
  content: "DUE";
}

.callout, blockquote {
  overflow: hidden;
  border-left: 4px solid var(--emph);
  background-color: var(--callout-background-color);
  border-radius: 4px;
  padding: 0.5em 1em;
  list-style-type: none;
}
.callout::before, blockquote::before {
  display: block;
  font-weight: bold;
  font-size: 0.85em;
  font-family: "Mulish", sans-serif;
}
.callout.note, blockquote.note {
  border-color: var(--note-color);
  background-color: var(--note-background-color);
}
.callout.note::before, blockquote.note::before {
  content: "NOTE";
  color: var(--note-color);
}
.callout.todo, blockquote.todo {
  border-color: var(--todo-color);
  background-color: var(--todo-background-color);
}
.callout.todo::before, blockquote.todo::before {
  content: "TODO";
  color: var(--todo-color);
}
.callout.ponder, blockquote.ponder {
  border-color: var(--ponder-color);
  background-color: var(--ponder-background-color);
}
.callout.ponder::before, blockquote.ponder::before {
  content: "PONDER";
  color: var(--ponder-color);
}
.callout.readings, blockquote.readings {
  border-color: var(--readings-color);
  background-color: var(--readings-background-color);
}
.callout.readings::before, blockquote.readings::before {
  content: "READINGS";
  color: var(--readings-color);
}

blockquote {
  background-color: unset;
  padding: 0 5px 0 8px;
}

sup[id^="fnref:"] {
  padding-right: 0.5em;
}

.fn-tooltip {
  position: absolute;
  font-size: 0.9em;
  max-width: 25em;
  border: 1px solid var(--font-color);
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

@media only screen and (max-width: 750px) {
  figure.wrap {
    float: unset;
  }
  figure.wrap img, figure.wrap figcaption {
    max-width: 95vw;
  }
}
@media only screen and (max-height: 420px) and (max-width: 750px) and (orientation: landscape) {
  main {
    max-width: 80%;
  }
  header {
    flex-direction: row;
    height: 60vh;
  }
  header .info {
    flex-direction: column;
    font-size: 0.7em;
  }
  header > * {
    margin: 10px;
  }
  img, figcaption {
    max-width: 95vw;
  }
  img, figcaption {
    max-width: 95vw;
  }
  .blurb {
    padding: 0 3px;
  }
  .two-column > .main-content {
    float: none;
    width: inherit;
  }
}
@media screen and (max-width: 415px) and (orientation: portrait) {
  details {
    max-width: 100%;
  }
  aside nav {
    font-size: 0.8em;
  }
  aside nav ul > li > a.nav-link {
    padding: 8px 8px;
  }
  main {
    min-width: 100%;
    padding: 10px;
  }
  .artifact-list {
    margin-left: 0;
  }
  .content-box {
    min-width: 100%;
    margin: 10px auto;
  }
  .content-box .content {
    font-size: 0.8em;
  }
  .content-box .title {
    font-size: 1em;
  }
  .content-box .artifact-list {
    max-width: 100%;
    padding-left: 0px;
  }
  footer .email {
    font-size: 0.8em;
  }
  header h1 {
    font-size: 1.5em;
  }
  header .email {
    font-size: 0.7em;
  }
  header img {
    width: 30vw;
    height: auto;
  }
  h1 {
    font-size: 1.5em;
  }
  ul, ol {
    padding-left: 0.8em;
  }
  .blurb {
    min-width: 100%;
    padding: 0 0;
    font-size: 0.9em;
  }
  aside {
    width: 100%;
  }
  aside nav {
    font-size: 0.7em;
  }
  aside nav ul li a.nav-link {
    padding: auto 7px auto 7px;
  }
  .two-column > .main-content {
    float: none;
    width: inherit;
  }
  img, figcaption {
    max-width: 95vw;
  }
  img {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-height: 60vh;
  }
  .post-title {
    font-size: medium;
  }
}

/*# sourceMappingURL=main.css.map */