@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,700;1,300&display=swap");
@import url("/css/dark.css") screen and (prefers-color-scheme: dark);
@import url("/css/github.css") screen and (prefers-color-scheme: light);
:root {
  --bg-color: white;
  --highlight-color: #fdff80;
  --font-color: #000000;
  --link-color: #425469;
  --caption-color: #727375;
  --emph: #E61726;
  --nav-color: var(--emph);
  --heading-font-color: #425469;
  --header: #000000;
  --award-color: #0CAC1C;
  --ponder-color: #d3a10b;
  --ponder-background-color: rgba(255, 235, 130, 0.2);
  --todo-color: rgb(148, 2, 206);
  --todo-background-color: rgba(237, 146, 134, 0.2);
  --readings-background-color: #bcf6bc;
  --readings-color: rgb(3, 76, 3);
  --callout-background-color: rgba(243, 183, 183, 0.197);
  --table-alternate-bg-color: lightgrey;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #24272c;
    --highlight-color: rgba(106, 87, 33, 0.356);
    --font-color: #EEEEEE;
    --heading-font-color: #c6f1f3;
    --caption-color: #c9cacc;
    --emph: rgb(246, 168, 0);
    --nav-color: #8bcccf;
    --link-color: #eafafb;
    --header: #EEEEEE;
    --award-color: darkgreen;
    --todo-color: rgb(222, 156, 248);
    --todo-background-color: rgb(68, 44, 66, 0.7);
    --ponder-color: #f1ce68;
    --readings-background-color: #093102;
    --readings-color: #03f6e6;
    --callout-background-color: #679da031;
    --table-alternate-bg-color: rgb(63, 63, 63);
  }
}
body {
  background-color: var(--bg-color);
  min-width: 65%;
  margin: auto;
  color: var(--font-color);
  font-family: "Avenir", sans-serif;
  -webkit-font-smoothing: antialiased;
}

h2,
h3,
h4,
.degree {
  font-weight: 600;
  color: var(--heading-font-color);
  font-family: "Muli", sans-serif;
  margin: auto;
  padding-top: 5px;
}

h1 {
  color: var(--header);
  font-family: "Muli", sans-serif;
}
h1 a,
h1 a:visited {
  text-decoration: none;
}

a,
a:visited {
  color: var(--link-color);
  text-decoration: underline;
}

a:hover {
  color: var(--emph);
  text-decoration: underline;
}

.blurb {
  margin-bottom: 20px;
  font-size: 1em;
  padding: 0 2em;
  max-width: 90%;
}

header {
  padding: 0px 15px;
  text-align: center;
  margin: 50px 0 0;
  height: min(40vh, 200px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header.pages {
  height: auto;
}
header a, header a:visited {
  color: var(--font-color);
}
header a:hover {
  color: var(--emph);
}
header img {
  border-radius: 360px;
  height: min(35vh, 150px);
  max-height: 200px;
  width: auto;
}
header h1 {
  margin-bottom: 2px;
  margin-left: 5px;
  margin-top: 0px;
}
header .info {
  margin-left: 40px;
}

main {
  padding: 0 15px;
  width: 80%;
  max-width: 80em;
  margin: 0 auto;
}
main.post {
  max-width: 60em;
  font-family: "EB Garamond", serif;
}
main.post .post-details {
  padding-bottom: 10px;
}
main.post article {
  font-size: 1.2em;
}

/* Aside */
aside {
  background: var(--bg-color);
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid var(--emph);
  box-shadow: 0px 1px 1px RGBA(4, 25, 54, 0.1);
}
aside nav {
  display: flex;
  justify-content: center;
  font-size: 1em;
}
aside nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
aside nav ul li {
  float: left;
  position: relative;
}
aside nav ul li a.nav-link {
  text-decoration: none;
  color: var(--nav-color);
  display: block;
  padding: 15px;
  font-family: "Muli", sans-serif;
  line-height: 20px;
  margin-bottom: -1px;
  box-shadow: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
aside nav ul li a.nav-link:hover, aside nav ul li a.nav-link.active {
  background: var(--header);
  text-decoration: none;
  color: var(--bg-color);
}
aside nav:after {
  content: "";
  display: table;
  clear: both;
}

.sub {
  font-size: 0.95em;
  margin-top: 0;
  margin-bottom: 5px;
}
.sub a {
  text-decoration: none;
  margin: 2px;
}

.emph {
  color: var(--emph);
}

.content {
  margin: auto;
  justify-content: center;
  padding: 0 10px;
}

.award {
  display: inline-block;
  background: var(--award-color);
  color: white;
  border-radius: 5px;
  padding: 0 3px;
  margin-left: 5px;
  font-weight: bold;
  font-size: 0.9em;
}

figure {
  margin: 25px auto;
  display: grid;
  justify-content: center;
}
figure figcaption {
  font-size: 0.8em;
  padding: 0;
  color: var(--caption-color);
  font-family: Avenir;
}
figure.wide {
  display: table;
  position: relative;
  float: right;
  overflow-x: scroll;
}
figure.wide img, figure.wide figcaption {
  display: table-row;
  position: relative;
  max-width: 70vw;
}

img, figcaption {
  max-width: 40vw;
}

ul {
  list-style-type: circle;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.contact a, .contact a:visited {
  font-size: 1.5em !important;
  text-decoration: none;
  color: var(--link-color);
}
.contact a:hover, .contact a:visited:hover {
  color: var(--emph);
}

footer {
  text-align: center;
  padding: 40px;
}
footer .address {
  font-size: 0.8em;
}
footer a, footer a:visited {
  color: var(--font-color);
}

.fa, .fab, .far, .fas, .ai {
  margin: 5px;
  text-decoration: none;
}

.visible-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 0px;
}

.visible-hidden:focus {
  clip: auto;
  height: auto;
  overflow: auto;
  position: absolute;
  width: auto;
}

.artifact-list {
  margin-top: 0;
  margin-left: 30px;
  list-style-type: none;
}
.artifact-list li:not(:first-child) {
  margin-top: 5px;
}
.artifact-list .artifact {
  padding-bottom: 10px;
}
.artifact-list .authors {
  color: var(--emph);
}
.artifact-list .artifact-title > a {
  text-decoration: none;
}
.artifact-list details > summary {
  outline: none;
  margin-bottom: 5px;
}
.artifact-list details p {
  padding: 5px;
  border: 1px grey solid;
  border-radius: 5px;
  color: var(--font-color);
  list-style-type: none;
}

details > summary {
  cursor: pointer;
}

.banner {
  padding: 10px;
  border-radius: 5px;
  border: var(--emph) solid 2px;
  background-color: var(--highlight-color);
}

.grey {
  opacity: 0.3;
}

code {
  font-size: 1rem;
  color: var(--emph);
}
h1 > code, h2 > code, h3 > code {
  font-size: inherit;
}
pre > code {
  color: var(--code-color);
}

a:has(code):after {
  content: " 🔗";
  font-size: 0.8em;
}

pre:not(.mermaid) {
  padding: 10px;
  border-radius: 5px;
  border: 1pt solid var(--heading-font-color);
  line-height: 1.5;
}

.tag {
  font-size: 0.8em;
  font-family: "Quicksand", "Helvetica", sans-serif;
  padding: 2px 5px;
  margin: 5px;
  background-color: var(--highlight-color);
  border: 0.5pt solid var(--emph);
  border-radius: 8px;
  cursor: pointer;
}
.tag.active {
  background-color: var(--header);
}
.tag.active a {
  color: var(--highlight-color);
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  font-size: 0.9em;
}
table th {
  border-top: 1pt solid;
  border-bottom: 1pt solid;
  background-color: var(--font-color);
  color: var(--bg-color);
}
table tr {
  border-bottom: 0.5pt solid;
}
table tr > td, table tr > th {
  padding: 0.5em;
}
table tr > td:not(:last-child), table tr > th:not(:last-child) {
  border-right: 1pt solid;
}

.course table tr:nth-child(4n), .course table tr:nth-child(4n-1) {
  background: var(--table-alternate-bg-color);
}

.coursenotes {
  font-size: 1.2rem;
  font-family: "EB Garamond", serif;
}

.callout, blockquote {
  border-left: 4px solid var(--emph);
  background-color: var(--callout-background-color);
  border-radius: 4px;
  padding: 0.5rem;
  list-style-type: none;
}
.callout::before, blockquote::before {
  display: block;
  padding-bottom: 0.5rem;
  font-weight: bold;
  font-size: 0.8em;
  font-family: "Muli", sans-serif;
}
.callout.todo, blockquote.todo {
  border-color: var(--todo-color);
  background-color: var(--todo-background-color);
}
.callout.todo::before, blockquote.todo::before {
  content: "TODO";
  color: var(--todo-color);
}
.callout.ponder, blockquote.ponder {
  border-color: var(--ponder-color);
  background-color: var(--ponder-background-color);
}
.callout.ponder::before, blockquote.ponder::before {
  content: "PONDER";
  color: var(--ponder-color);
}
.callout.readings, blockquote.readings {
  border-color: var(--readings-color);
  background-color: var(--readings-background-color);
}
.callout.readings::before, blockquote.readings::before {
  content: "READINGS";
  color: var(--readings-color);
}

blockquote {
  background-color: unset;
  padding: 0 5px 0 8px;
}

.footnotes :target {
  background-color: var(--highlight-color);
}

@media only screen and (max-height: 420px) and (max-width: 750px) and (orientation: landscape) {
  main {
    max-width: 80%;
  }
  header {
    flex-direction: row;
    height: 60vh;
  }
  header .info {
    flex-direction: column;
    font-size: 0.7em;
  }
  header > * {
    margin: 10px;
  }
  img, figcaption {
    max-width: 95vw;
  }
  .blurb {
    padding: 0 3px;
  }
  .two-column > .main-content {
    float: none;
    width: inherit;
  }
}
@media screen and (max-width: 415px) and (orientation: portrait) {
  details {
    max-width: 100%;
  }
  aside nav {
    font-size: 0.8em;
  }
  aside nav ul > li > a.nav-link {
    padding: 8px 8px;
  }
  main {
    min-width: 100%;
    padding: 10px;
  }
  .artifact-list {
    margin-left: 0;
  }
  .content-box {
    min-width: 100%;
    margin: 10px auto;
  }
  .content-box .content {
    font-size: 0.8em;
  }
  .content-box .title {
    font-size: 1em;
  }
  .content-box .artifact-list {
    max-width: 100%;
    padding-left: 0px;
  }
  footer .email {
    font-size: 0.8em;
  }
  header h1 {
    font-size: 1.5em;
  }
  header .email {
    font-size: 0.7em;
  }
  header img {
    width: 30vw;
    height: auto;
  }
  h1 {
    font-size: 1.5em;
  }
  ul, ol {
    padding-left: 0.8em;
  }
  .blurb {
    min-width: 100%;
    padding: 0 0;
    font-size: 0.9em;
  }
  aside {
    width: 100%;
  }
  aside nav {
    font-size: 0.7em;
  }
  aside nav ul li a.nav-link {
    padding: auto 7px auto 7px;
  }
  .two-column > .main-content {
    float: none;
    width: inherit;
  }
  img, figcaption {
    max-width: 95vw;
  }
  img {
    width: 100%;
    height: auto;
  }
  .post-title {
    font-size: medium;
  }
}

/*# sourceMappingURL=main.css.map */